{% extends 'base.html' %}
{% block content %}
{% load static %}



<!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Portfolio</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
      {% for pl in placess %}
<div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="{% url 'places_detail' pl.pk %}">
            <img class="img-fluid" src="/media/{{pl.image_places}}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Threads</h4>
            <p class="text-muted">Illustration</p>
          </div>
        </div>
      {% endfor %}



      </div>
    </div>
  </section>

  
{% endblock %}